<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center mt-5 text-muted">
                    Copyright &copy; 2022-2023 &mdash; ADO Software
                </div>
            </div>
        </div>
    </div>
</section>