{{!-- Fixed Logged out navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{!-- container wrapper --}}
  <div class="container-fluid">
    {{!-- toggle button on mobile/small viewport --}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="navbar-brand mt-2 mt-lg-0">
      <img src="/img/toolKeeperLogo-dark-full.png" alt="TK Logo" loading="lazy" class="left-float"
        style="height:75px; width:auto">
    </a>
    {{!-- Collapsible wrapper contents --}}
    <div id="navbarContent" class="navbar-collapse collapse">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="/pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/demo">Demo</a>
        </li>
      </ul>
    </div>
    {{!-- collapsible wrapper END --}}
    {{!-- right elements --}}
    <div class="d-flex align-items-center">
      <div class="nav-item">
      </div>
      <a class="nav-item nav-link dropdown-toggle d-flex align-items-center hidden-arrow" href="/login"
        id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
        Login
      </a>
    </div>
  </div>
</nav>
