<section title="modals">
    <!-- Create New Tool Modal -->
    <section title="newToolModal">
        <div class="modal fade" id="newToolModal" tabindex="-1" aria-labelledby="newToolModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newToolModalHeader">Create A New Tool Entry</h5>
                        <a type='button' data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form action="/tool/submit" method="POST">
                            <div class="row ">
                                <div class="col">
                                    <input type="text" class="form-control" name="serialNumber"
                                        placeholder="Serial Number" aria-label="Serial Number">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control " name="partNumber" placeholder="Part Number"
                                        aria-label="Part Number">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" name="barcode" placeholder="Barcode"
                                        aria-label="Barcode">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="description" placeholder="Description"
                                        aria-label="Description">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="text" name="serviceAssignment" id="serviceAssignment"
                                        class="form-control" placeholder="Service Assignment"
                                        aria-label="service assignment">
                                </div>
                                <div class="col">
                                    <select name="status" id="status" class="form-select">
                                        <option value="Checked In">Checked In</option>
                                        <option value="Checked Out">Checked Out</option>
                                    </select>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button name="NewToolModalSubmitBtn" type="submit"
                                    class="btn btn-primary submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{!-- END OF NEW TOOL MODAL --}}
    </section>
    <section title="checkInOutModal">
        <!-- Check In/OutTool Modal -->
        <div class="modal fade" id="checkInToolModal" tabindex="-1" aria-labelledby="checkInToolModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="checkInToolModalHeader">Check Tools In/Out</h5>
                        <a type='button' data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form action="/tool/checkTools" method="POST">
                            <div class="row mb-2">
                                <div class="col">
                                    <input type="text" class="form-control" name="serialNumber"
                                        placeholder="Serial Number or Barcode" aria-label="Serial Number">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="serialNumber"
                                        placeholder="Serial Number or Barcode" aria-label="Serial Number">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="serialNumber"
                                        placeholder="Serial Number or Barcode" aria-label="Serial Number">
                                </div>
                            </div>
                            <div class="row mb-2 ">
                                <div class="col">
                                    <input type="text" class=" form-control" name="barcode"
                                        placeholder="Serial Number or Barcode" aria-label="Barcode">
                                </div>
                                <div class="col">
                                    <input type="text" class=" form-control" name="barcode"
                                        placeholder="Serial Number or Barcode" aria-label="Barcode">
                                </div>
                                <div class="col">
                                    <input type="text" class=" form-control" name="barcode"
                                        placeholder="Serial Number or Barcode" aria-label="Barcode">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button name="NewToolModalSubmitBtn" type="submit"
                                    class="btn btn-primary submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section title="searchModal">
        {{!-- searchToolModal --}}
        <div class="modal modal-xl fade" id="searchToolModal" tabindex="-1" aria-labelledby="searchToolModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content p-3">
                    <div class="modal-header text-bg-secondary rounded-bottom">
                        <h5 class="modal-title" id="searchToolModalHeader">Search for Tool(s)</h5>
                        <a type='button' data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body p-4">
                        <div class="row gx-5">
                            <form action='/dashboard' method="POST">
                                <div class="col card p-3">
                                    <select name="searchBy" id="searchBy" class="form-select">
                                        <option style="background-color: #cccccc;" disabled selected>Search By:
                                        </option>
                                        <option style="font-size: 1pt; background-color: #000000;" disabled>
                                            &nbsp;</option>
                                        <option value="serialNumber">Serial Number</option>
                                        <option value="partNumber">Part Number</option>
                                        <option value="barcode">Barcode</option>
                                        <option value="serviceAssignment">Service Assignment</option>
                                        <option value="status">Status</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="searchValue"
                                        placeholder="Search Value" aria-label="Search Value">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{!-- END OF NEW TOOL MODAL --}}
</section>