
    {{!-- New User Modal --}}
<div class="modal fade" id="newUserModal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newUserModalHeader">Create A New User Entry</h5>
                <a type='button' data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <form action="/userManagement/createUser" method="POST">
                    <div class="row ">
                        <div class="col">
                            <input type="text" class="form-control" name="firstName" placeholder="First Name"
                                aria-label="First Name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control " name="lastName" placeholder="Last Name"
                                aria-label="Last Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="email" class="form-control" name="emailAddress" placeholder="Email"
                                aria-label="Email">
                        </div>
                        <div class="col">
                            <select name="role" id="role" class="form-select">
                                <option value="User">User</option>
                                <option value="Manager">Manager</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button name="NewUserModalSubmitBtn" type="submit"
                            class="btn btn-primary submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>