      <div class="flex flex-row px-2 pb-2 overflow-y-scroll max-h-[75vh]">
        <table class="table table-xs w-auto max-h-min table-pin-rows table-pin-cols">
          <thead>
            <tr>
              <th>Categories</th>
            </tr>
          </thead>
          <tbody>
            {{#if categories}}
            {{#each categories}}
            <tr>
              <td><a href="/tool/search?searchBy=category&searchTerm={{id}}"> {{name}}</td>

            </tr>
            {{/each}}
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
  </div>