<div>
    <h1>Nothing to show here!</h1>
    <h3>You haven't changed any tools recently, so there's nothing to show here.</h3>
    <p>You can start by creating a new tool, editing an existing one, or checking something in/out.</p>
</div>