<div class="flex flex-row px-2 pb-2 overflow-y-scroll max-h-[75vh]">
    <table class="table table-xs w-auto max-h-min table-pin-rows table-pin-cols">
        <thead>
            <tr>
                <th>Service Assignments</th>
            </tr>
        </thead>
        <tbody>
            {{#if activeServiceAssignments}}
            {{#each activeServiceAssignments}}
            <tr>
                <td><a href="/tool/search?searchBy=serviceAssignment&searchTerm={{id}}"> {{toolCount}} - {{description}}</td>

            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>
