<div class="absolute top-7 right-2" id="help-floater" onclick="introJs().start()">
    <div class="tooltip tooltip-info tooltip-left" data-tip="Click for help">
        <i class="fa-solid fa-question"></i>
    </div>
</div>