<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="ToolKeeper In Design">
    <meta name="author" content="Dave Luhman">
    <link rel="icon" href="../img/favicon.ico">
    <link rel="canonical" href="https://toolkeeper.dev.ado.software">
    <meta name="namespace" content="user">
    <link rel="stylesheet" href="/css/toolkeeper.css">
    <title>ToolKeeper by ADO Software</title>
</head>

<body class="p-3 m-0 border-0">
    {{> _header}}
    {{#if error}}
    {{> _error}}
    {{/if}}
    {{{body}}}
    {{> _footer}}
    {{> _userModals}}


</body>

</html>