<div class="flex flex-wrap">
  <div id="settings-nav">
    {{>_settings}}
  </div>
  <div id="serviceAssignmentTable">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Display Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {{#if serviceAssignments}}
          {{#each serviceAssignments}}
            <tr>
              <td>{{displayName}}</td>
              <td><a href="/settings/serviceAssignments/edit/{{id}}"><i class="fa fa-pencil"></i></a></td>
              <td><a href="/settings/serviceAssignments/delete/{{id}}"><i class="fa fa-trash"></i></a></td>
            </tr>
          {{/each}}
        {{/if}}
      </tbody>
    </table>
    <div class="mx-5">
      <div class="inline-block px-4 py-1.5 text-sm font-medium no-underline rounded-lg btn btn-sm lg:-ml-2">
        <label for="newServiceAssignmentModal">New Service Assignment</label>
      </div>
    </div>
  </div>
</div>
{{!-- New SA Modal --}}
<input type="checkbox" id="newServiceAssignmentModal" class="modal-toggle" />
<div class="modal">
  <div class="modal-inner-md">
    <label for="newServiceAssignmentModal" class="modal-close-btn">✕</label>
    <form action="/settings/serviceAssignments/create" method="POST">
      <div class="grid items-center w-full grid-rows-2">
        <div class="title-bar">
          <h3 class="title-text">New Service Assignment</h3>
        </div>
        <div class="m-3">
          <input placeholder="Employee" type="text" name="employee" class="input input-bordered">
          <input placeholder="Vehicle" type="text" name="vehicle" class="input input-bordered">
        </div>
        <div>
          <input placeholder="Job Num" type="text" name="jobNumber" class="input input-bordered">
          <input placeholder="Job Name" type="text" name="jobName" class="input input-bordered">
        </div>
        <div class="modal-button-row">
          <label class="btn btn-sm"> <button type="submit">Submit</button></label>
        </div>
      </div>
    </form>
  </div>
</div>