<div class="flex">
    <div id="settings-nav">
        {{>_settings}}
    </div>
    <div class="flex w-screen h-screen p-10 overflow-auto ">
        <div class="flex flex-col flex-shrink-0 w-1/3 border border-gray-300">
            <div class="flex items-center justify-between flex-shrink-0 h-10 px-2 border-b border-gray-300">
                <span class="block text-sm font-medium">Active</span>
                <label for="newServiceAssignmentModal">
                    <button class="flex items-center justify-center w-6 h-6">
                        <svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                        </svg>
                    </button>
                </label>
            </div>
            <div class="flex flex-col px-2 pb-2 overflow-auto">
                <table class="table table-auto">
                    <thead>
                        <tr>
                            <th>Display Name</th>
                            <th class="hidden md:table-cell">Description</th>
                            <th class="hidden lg:table-cell">Type</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if activeServiceAssignments}}
                            {{#each activeServiceAssignments}}
                                <tr>
                                    <td>{{name}}</td>
                                    <td class="hidden md:table-cell min-w-fit">{{description}}</td>
                                    <td class="hidden lg:table-cell">{{type}}</td>
                                    <td>
                                        {{#eq false active}}<i class="fa-regular fa-square"></i>{{/eq}}
                                        {{#eq true active}}<i class="fa-regular fa-square-check"></i>{{/eq}}
                                    </td>
                                </tr>
                            {{/each}}
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="flex flex-col ml-5 flex-shrink-0 w-1/3 bg-gray-200 border border-gray-300">
            <div class="flex items-center justify-between flex-shrink-0 h-10 px-2 border-b border-gray-300 bg-white">
                <span class="block text-sm font-medium">Inactive</span>
            </div>
            <div class="flex flex-col px-2 pb-2 overflow-auto">
                <div class="p-6 mt-2 border border-gray-300 bg-white cursor-pointer">Item</div>
                <div class="p-6 mt-2 border border-gray-300 bg-white cursor-pointer">Item</div>
                <div class="p-6 mt-2 border border-gray-300 bg-white cursor-pointer">Item</div>
                <div class="p-6 mt-2 border border-gray-300 bg-white cursor-pointer">Item</div>
                <div class="p-6 mt-2 border border-gray-300 bg-white cursor-pointer">Item</div>
            </div>
        </div>
    </div>
</div>