<input type="checkbox" id="forgotPasswordModal" class="modal-toggle" />
<div class="modal">
  <div class="modal-inner-sm">
    <label for="forgotPasswordModal" class="modal-close-btn">
      ✕
    </label>
    <form action="/forgotPassword" method="POST">
      <div class="flex flex-col">
        <div class="title-bar">
          <h3 class="title-text">
            Forgot Your Password?
          </h3>
        </div>
        <div class="w-full flex justify-evenly">
          <input
            placeholder="Email Address"
            type="text"
            name="email"
            id="reset-pw_email"
            class="input input-bordered"
            required
          />
        </div>
        <div class="flex flex-row-reverse gap-2 mt-2">
          <label class="modal-button" for="forgotPasswordModal">
            Cancel
          </label>
          <label class="modal-button">
            <button id="reset-pw_submit" type="submit">
              Submit
            </button>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>