<input type="checkbox" id="checkInOutModal" class="modal-toggle" />
    <div class="modal">
        <div class="modal-inner-lg">
            <label for="checkInOutModal" class="modal-close-btn">✕</label>
            <form action="/tool/checkInOut" method="POST">
                <div class="modal-table">
                    <div class="title-bar">
                        <h3 class="title-text">Check Tools In or Out</h3>
                    </div>
                    <input name="searchTerm" type="text" placeholder="Search Value"
                        class="input input-bordered" />
                    <input name="searchTerm" type="text" placeholder="Search Value"
                        class="input input-bordered" />
                    <input name="searchTerm" type="text" placeholder="Search Value"
                        class="input input-bordered" />
                    <input name="searchTerm" type="text" placeholder="Search Value"
                        class="input input-bordered" />
                    <input name="searchTerm" type="text" placeholder="Search Value"
                        class="input input-bordered" />
                    <input name="searchTerm" type="text" placeholder="Search Value"
                        class="input input-bordered" />
                    <div class="modal-button-row">
                        <label class="modal-button" for="checkInOutModal">Cancel</label>
                        <label class="modal-button"><button type="submit">Submit</button></label>
                    </div>
                </div>
            </form>
        </div>
    </div>