<div class="w-4/6">
  <div class="title-bar">
    <h3 class="title-text">
      <div
        class="tooltip tooltip-bottom z-10"
        data-tip="These unique values will be applied to the first tool. &#013; They can be auto-incremented for subsequent rows if the value ends with a number."
      >
        <i class="fas fa-info-circle"></i>
      </div>
      Batch Unique Values
    </h3>
  </div>
  <div class="grid grid-rows-1 grid-cols-3">
    <div class="text-center">
      <input
        type="checkbox"
        name="autoincrement-barcode"
        id="autoincrement-barcode-toggle"
        checked
      />
      <label for="autoincrement-barcode-toggle">Auto-increment</label>
    </div>
    <div class="text-center">
      <input
        type="checkbox"
        name="autoincrement-serialNumber"
        id="autoincrement-serialNumber-toggle"
      />
      <label for="autoincrement-serialNumber-toggle"> Auto-increment </label>
    </div>
    <div class="text-center">
      <input type="checkbox" name="autoincrement-toolID" id="autoincrement-toolID-toggle" />
      <label for="autoincrement-toolID-toggle">Auto-increment</label>
    </div>
  </div>
  <div id="row-0" class="grid grid-rows-1 grid-cols-3 gap-2">
    <input
      id="barcode_0"
      name="barcode"
      type="text"
      placeholder="Barcode"
      class="input input-bordered"
      minlength="5"
      required
    />
    <input
      id="serialNumber_0"
      name="serialNumber"
      type="text"
      placeholder="Serial Number"
      class="input input-bordered"
      required
    />
    <div class="w-full">
      <input
        id="toolID_0"
        name="toolID"
        type="text"
        placeholder="Tool ID"
        class="input input-bordered -z-0 relative w-[90%] mr-2"
      />
      <input type="hidden" name="entriesCount" value=`${entriesCount}`>
      <label id="plusButton" class="btn btn-accent w-4 float-right absolute">+</label>
    </div>
  </div>
</div>
