<h3>ADO Test Site</h3>
<div class="section">
    <p class="lead">Welcome to ScoreMaster's submission site</p>
</div>
<div class="divider">
</div>
<p>You've failed to log in normally. Please try again</p>
<script type="text/JavaScript">
      setTimeout("location.href = './login';",1500);
 </script>