<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex center-block">
  <div class="container-lg my-4 position-relative" data-aos="fade-up" data-aos-delay="100">
    {{!-- HERO Jumbotron --}}
    <div class="p-5 mb-4 bg-dark text-white rounded-3">
      <h1>Tool Crib Management Doesn't Have To Suck</h1>
      <p class="lead">Keep Track of your tools, With ToolKeeper</p>
    </div>
    {{!-- END jumbotron --}}
    {{!-- start cards --}}
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {{!-- card left --}}
      <div class="col">
        <div class="h-100 card">
          <img src="/img/root/tools1.png" class="card-img-top"
        alt="Organized Tools" height="300px"/>
          <div class="card-body">
            <h5 class="card-header">It's a Niche World</h5>
            <p class="card-text">Electricians connect and power our world. Plumbers and HVAC techs keep our
              water hot and our air cool. Mechanics ensure both ourselves and our family are safe when on the road.
              Everyone
              has their niche, but who's keeping track of their tools?</p>
          </div>
        </div>
      </div>
      {{!-- Card Center--}}
      <div class="col">
        <div class="h-100 card">
          <img src="/img/root/tools2.png" class="card-img-top"
        alt="Organized Tools"  height="300px" />
          <div class="card-body">
            <h4 class="card-header">Know Where Your Tools Are</h4>
            <p class="card-text">Inventory is great, but knowing <i>how many</i> of something you have
              without knowing <i>where</i> they are doesn't help much. ToolKeeper maps tools to jobsites, fleet
              vehicles,
              or service technicians.
            </p>
          </div>
        </div>
      </div>
      {{!-- card right --}}
      <div class="col">
        <div class="h-100 card">
          <img src="/img/root/tools3.png" class="card-img-top"
        alt="Organized Tools"   height="300px" />
          <div class="card-body">
            <h4 class="card-header">Flexible Search and Reporting</h4>
            <p class="card-text">Different use-cases require different search methods and we've thought of
              that. Any field that you can give a tool, you can search by. Search by jobsite to see all what's already
              there, or search for everything still in the toolcrib at your shop.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section><!-- End Hero -->