<div class="container-lg" data-aos="fade-up" data-aos-delay="100">
  <br />
  {{!-- timekeeper logo --}}
  <a href="/">
    <img src="/img/toolKeeperLogo-dark-full.png" class="logo center" />
  </a>
  <br><br>
  <div class="container bg-light rounded">
    <form action="/login" method="POST">
      <br><br>
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="form1Example1" class="form-control" />
        <label class="form-label" for="form1Example1">Email address</label>
      </div>
      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="form1Example2" class="form-control" />
        <label class="form-label" for="form1Example2">Password</label>
      </div>
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">
        Forgot Password
      </button>
  </div>
  </form>

</div> <!-- /container -->

{{!-- Forgot Password Modal --}}

<!-- Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotPasswordModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> Because ToolKeeper is built on a per-customer basis, you'll have to ask your manager to reset your password.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thanks, I guess</button>
      </div>
    </div>
  </div>
</div>