<h1 class="display-5 fw-bold"></h1>
<div class="col-lg-6 mx-auto">
  <p class="lead mb-4"></p>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
  </div>


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex center-block">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Tool Crib Management Doesn't Have To Suck</h1>
          <h3>Keep Track of your tools, With ToolKeeper</h2>
        </div>
      </div>
      <div class="text-center">
        <a href="#about" class="btn-get-started scrollto">Take a peek?</a>


        <div class="row icon-boxes">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
            data-aos-delay="200">
            <div class="icon-bar">
              <div class="icon"><i class="ri-stack-line"></i></div>
              <h4 class="title"><a href="">It's a Niche World</a></h4>
              <p class="description">Electricians connect and power our world. Plumbers and HVAC techs keep our water
                hot and our air cool. Mechanics ensure both ourselves and our family are safe when on the road. Everyone
                has their niche, but who's keeping track of their tools?</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="ri-palette-line"></i></div>
              <h4 class="title"><a href="">Know Where Your Tools Are</a></h4>
              <p class="description">Inventory is great, but knowing <i>how many</i> of something you have without knowing
                                   <i>where</i> they are doesn't help much. ToolKeeper maps tools to jobsites, fleet vehicles,
                                    or service technicians. </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
            data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="ri-command-line"></i></div>
              <h4 class="title"><a href="">Flexible Search and Reporting</a></h4>
              <p class="description">Different use-cases require different search methods and we've thought of that. Any field
                that you can give a tool, you can search by. Search by jobsite to see all what's already there, or search for everything
                still in the toolcrib at your shop.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
            data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="ri-fingerprint-line"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->