@charset "UTF-8";
/*!
 * Custom ToolKeeper CSS  v1.0.0?
 * Copyright 2022-2022 ADO Software
 */
input.checkInOut {
  background: rgba(255, 255, 255, 0.1);
  outline: 1px;
}
div.checkInOut {
  background: #e2e1dc;
}
tr.disabled {
  text-decoration: line-through;
}
