<h3>ADO Test Site</h3>
<div class="section">
    <p class="lead">Welcome to ScoreMaster's sign up page</p>
</div>
<div class="divider">
    {{#if error}}
    {{> _error}}
    {{/if}}
</div>
<div class="card">
    <div class="card-content">
        <form action="/signUp" method="POST">
            <div class="input-field">
                <input type="text" name="firstName" id="firstName" required>
                <label for="firstName">First Name</label>
            </div>
            <div class="input-field">
                <input type="text" name="lastName" id="lastName" required>
                <label for="lastName">Last Name</label>
            </div>
            <div class="input-field">
                <input type="text" name="username" id="username" required>
                <label for="username">Username</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password" required>
                <label for="password">Password</label>
            </div>
            <div class="input-field">
                <input type="password" name="confirmPassword" id="confirmPassword" required>
                <label for="confirmPassword">Confirm Password</label>
            </div>
            <div class="input-field">
                <button class="btn waves-effect waves-light" type="submit" name="action">Sign Up</button>
            </div>
        </form>
    </div>
</div>
