<!-- ======= Hero Section ======= -->

<div class="py-16 mb-24 rounded-sm shadow-lg bg-base-200 hero">
  <div class="flex-col hero-content lg:flex-row">
    <div class="invert brightness-150 "><img src="/img/root/hero.png" class="max-w-sm rounded-lg shadow-2xl" /></div>
    <div>
      <h1 class="text-5xl font-bold">Tool Crib Management Doesn't Have To Suck</h1>
      <p class="py-6">ToolKeeper is open-source software that's built with the little-guy in mind. Customize it
        yourself, or hire us to tailor your instance to your company's niche.</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
{{!-- END jumbotron --}}
{{!-- start cards --}}
<div class="grid grid-flow-col gap-8 auto-cols-3">
  {{!-- card left --}}
  <div class="shadow-xl card w-96">
    <figure><img src="/img/root/tools1.png" class="max-w-none max-h-56" alt="Organized Tools" /></figure>
    <div class="card-body">
      <h5 class="card-title">It's a Niche World</h5>
      <p class="card-text">Electricians connect and power our world. Plumbers and HVAC techs keep our
        water hot and our air cool. Mechanics ensure both ourselves and our family are safe when on the road.
        Everyone has their niche, but who's keeping track of their tools?</p>
    </div>
  </div>
  {{!-- Card Center--}}
  <div class="shadow-xl card w-96">
    <figure><img src="/img/root/tools4.png" class="max-w-none max-h-56" alt="Organized Tools" /></figure>
    <div class="card-body">
      <h4 class="card-title">Know Where Your Tools Are</h4>
      <p class="card-text">Inventory is great, but knowing <i>how many</i> of something you have
        without knowing <i>where</i> they are doesn't help much. ToolKeeper maps tools to jobsites, fleet
        vehicles,
        or service technicians.
      </p>
    </div>
  </div>
  {{!-- card right --}}
  <div class="shadow-xl card w-96">
    <figure><img src="/img/root/customizedReporting.png" class="max-w-none max-h-56" alt="Organized Tools" /></figure>
    <div class="card-body">
      <h4 class="card-title">Flexible Search and Reporting</h4>
      <p class="card-text">Different use-cases require different search methods and we've thought of
        that. Any field that you can give a tool, you can search by. Search by jobsite to see all what's already
        there, or search for everything still in the toolcrib at your shop.
      </p>
    </div>
  </div>
</div>