<div class="main-view">
<div class="title-bar">
    <h3 class="title-text">User Profile</h3>
</div>
<br />
<input id="firstName" name="firstName" type="text" value="{{user.firstName}}" class="input input-bordered" />
<input id="lastName" name="lastName" type="text" value="{{user.lastName}}" class="input input-bordered" />
<input id="email" name="email" type="text" value="{{user.email}}" class="input input-bordered" />
<select class="select select-bordered" name="role" id="role" aria-label="role">
    <option value="User" {{#eq user.role "User" }}selected{{/eq}}>User</option>
    <option value="Manager" {{#eq user.role "Manager" }}selected{{/eq}}>Manager</option>
    <option value="Admin" {{#eq user.role "Admin" }}selected{{/eq}}>Admin</option>
</select>
</div>