<section>
    <table class="table table-zebra">
        <thead>
            <th>Serial Number</th>
            <th>Tool ID</th>
            <th>Barcode (as barcode)</th>
            <th>Description</th>
        </thead>
    </table>
</section>