body {
  margin: auto;
  background: #cacaca;
}
table {
  border-style: solid;
  border-collapse: collapse;
  border-spacing: 0;
  color: #4a4a4d;
}

th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}

thead {
  border-style: solid;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

th:first-child {
  border-top-left-radius: 5px;
  text-align: left;
}

th:last-child {
  border-top-right-radius: 5px;
}

tbody tr:nth-child(even) {
  background: #f0f0f2;
}

td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}

td:first-child {
  border-left: 1px solid #cecfd5;
}

tfoot {
  text-align: right;
}

tfoot tr:last-child {
  background: #f0f0f2;
  color: #395870;
  font-weight: bold;
}

tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
td .barcode {
  font-family: "Libre Barcode 39";
  font-size: 12pt;
}
