<div class='container p-3 ml-5 bg-zinc-400 rounded-box w-44'>
    <ul class='side-nav'>
        <div class='mb-2 p-0.5 rounded-xl hover:border-gray-300 hover:bg-base-100'>
            <li><a href='/docs/faq'>F.A.Q</a></li>
        </div>
        <div class='mb-2 p-0.5 rounded-xl hover:border-gray-300 hover:bg-base-300'>
            <li><a href='/docs/gettingStarted'>Service Assignments </a></li>
        </div>
        <div class='mb-2 p-0.5 rounded-xl hover:border-gray-300 hover:bg-base-300'>
            <li> <a href='/docs/coreFeatures'>Core Features</a></li>
        </div>
        <div class='mb-2 p-0.5 rounded-xl hover:border-gray-300 hover:bg-base-300'>
            <li><a href='/docs/userRoles'>User Roles and Permissions</a></li>
        </div>
        <div class='mb-2 p-0.5 rounded-xl hover:border-gray-300 hover:bg-base-300'>
            <li><a href='/docs/toolManagement'>Tool Management</a></li>
        </div>
        <div class='mb-2 p-0.5 rounded-xl hover:border-gray-300 hover:bg-base-300'>
            <li><a href='/docs/serviceAssignments'>Service Assignment Workflow</a></li>
        </div>
        <div class='mb-2 p-0.5 rounded-xl hover:border-gray-300 hover:bg-base-300'>
            <li><a href='/docs/reporting'>Reporting</a></li>
        </div>
        <div class='mb-2 p-0.5 rounded-xl hover:border-gray-300 hover:bg-base-300'>
            <li><a href='/docs/administrator'>Administrator Guide</a></li>
        </div>
        <div class='mb-2 p-0.5 rounded-xl hover:border-gray-300 hover:bg-base-300'>
            <li><a href='/docs/troubleshooting'>Troubleshooting and Support</a></li>
        </div>
    </ul>
</div>