{{#if user}}
<nav id="header">
  <div class="flex items-center justify-between w-full px-6 py-2 mt-0">
    <a href="/dashboard"> <img src="/img/toolKeeperLogo-dark-small.png" width="125px" height="auto"></a>
    <label for="menu-toggle" class="block cursor-pointer md:hidden">
      <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
        <title>menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </label>
    <input class="hidden" type="checkbox" id="menu-toggle">

    <div class="order-3 hidden w-full  md:flex md:items-center md:w-auto md:order-1" id="menu">
      <nav>
        <ul class="items-center justify-between pt-4 text-base md:flex md:pt-0">
          <li><a class="inline-block px-4 py-2 text-lg font-medium no-underline hover:text-black lg:-ml-2"
              href="/dashboard">Dashboard</a></li>
          <li><a class="inline-block px-4 py-2 text-lg font-medium no-underline hover:text-black lg:-ml-2"><label
                for="newToolModal">Create A New Tool</label></a></li>
          <li><a class="inline-block px-4 py-2 text-lg font-medium no-underline hover:text-black lg:-ml-2"><label
                for="checkInOutModal">Check-In/Out</label></a></li>
          <li><a class="inline-block px-4 py-2 text-lg font-medium no-underline hover:text-black lg:-ml-2"><label
                for="searchToolModal">Search Tools</label></a></li>
        </ul>
      </nav>
    </div>

    <div class="flex flex-wrap items-center justify-end order-2 mr-0 md:order-3 md:mr-4" id="nav-content">
      <div class="flex items-center w-full md:w-full">
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="p-2 bg-transparent border border-gray-300 rounded text-white-50 hover:bg-gray-100 hover:text-black">{{user.firstName}}
            {{user.lastName}} <i class="fa-solid fa-chevron-down"></i></label>
          <ul tabindex="0" class="mt-2 rounded shadow menu dropdown-content rounded-b-box w-52">
            <li><a href="/user/profile">Profile</a></li>
            {{#eq user.role "Manager"}}<li><a href="/manager">User Management</a></li>{{/eq}}
            {{#eq user.role "Admin"}}<li><a href="/manager">User Management</a></li>{{/eq}}
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
{{else}}
{{!-- Fixed Logged out navbar --}}
<!-- component -->
<nav id="header">
  <div class="flex items-center justify-between w-full px-6 py-2 mt-0">
    <a href="/"><img class="" src="/img/toolKeeperLogo-dark-full.png" width="275px" height="auto"></a>
    <label for="menu-toggle" class="block cursor-pointer md:hidden">
      <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
        <title>menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </label>
    <input class="hidden" type="checkbox" id="menu-toggle">

    <div class="order-3 hidden w-full md:flex md:items-center md:w-auto md:order-1" id="menu">
      <nav>
        <ul class="items-center justify-between pt-4 text-base md:flex md:pt-0">
          <li><a class="inline-block px-4 py-2 text-lg font-medium no-underline hover:text-black lg:-ml-2"
              href="#">Pricing</a></li>
          <li><a class="inline-block px-4 py-2 text-lg font-medium no-underline hover:text-black lg:-ml-2"
              href="#">Features</a></li>
          <li><a class="inline-block px-4 py-2 text-lg font-medium no-underline hover:text-black lg:-ml-2"
              href="#">Demo</a></li>
        </ul>
      </nav>
    </div>

    <div class="flex flex-wrap items-center justify-end order-2 mr-0 md:order-3 md:mr-4" id="nav-content">
      <div class="flex items-center w-full auth md:w-full">
        <a href="/login"><button
            class="p-2 mr-4 bg-transparent border border-gray-300 rounded text-white-50 hover:bg-gray-100 hover:text-gray-700">Sign
            in</button></a>
      </div>
    </div>
  </div>
</nav>
{{/if}}