{{#if originalTenant}}
  <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 mx-10 px-4 py-3 rounded text-center relative" role="alert">
    <strong class="font-extrabold text-2xl">Impersonating Tenant:</strong>
    <span class="block sm:inline font-semibold text-xl">{{tenant.name}}</span>

    <!-- Link to revert to the original tenant -->
    <a href="/settings/tenant/original/impersonate" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded ml-4">
      Revert to Default Tenant
    </a>
  </div>
{{/if}}