<div class="container p-3 mt-5 ml-5 bg-base-100 rounded-box w-44">
    <ul class="side-nav">
        <div class="mb-2 hover:border-gray-300 hover:bg-base-200">
            <a href="/settings/users">
                <li>Users</li>
            </a>
        </div>
        <div class="mb-2 hover:border-gray-300 hover:bg-base-200">
            <a href="/settings/serviceAssignments">
                <li>Service Assignments</li>
            </a>
        </div>
        <div class="mb-2 hover:border-gray-300 hover:bg-base-200">
            <a href="/settings/categories">
                <li>Tool Categories</li>
            </a>
        </div>
        <div class="mb-2 hover:border-gray-300 hover:bg-base-200">
            <a href="/settings/materials">
                <li>Tool Materials</li>
            </a>
        </div>
    </ul>
</div>