<section>
    <!-- Create New Tool Modal -->
    <input type="checkbox" id="newToolModal" class="modal-toggle" />
    <div class="modal">
        <div class="modal-inner-lg">
            <label for="newToolModal" class="modal-close-btn">✕</label>
            <form action="/tool/submit" method="POST">
                <div class="modal-table">
                    <div class="title-bar">
                        <h3 class="title-text">Create A New Tool Entry</h3>
                    </div>
                    <input name="serialNumber" type="text" placeholder="Serial Number" class="input input-bordered" />
                    <input name="partNumber" type="text" placeholder="Part Number" class="input input-bordered" />
                    <input name="barcode" type="text" placeholder="Barcode" class="input input-bordered" />
                    <input name="description" type="text" placeholder="Description" class="input input-bordered" />
                    <input name="serviceAssignment" type="text" placeholder="Service Assignment"
                        class="input input-bordered" />
                    <select name="status" class="select select-bordered">
                        <option>Status</option>
                        <option value="checkedIn">Checked-In</option>
                        <option value="checkedOut">Checked-Out</option>
                    </select>
                    <div class="modal-button-row">
                        <label class="modal-button" for="newToolModal">Cancel</label>
                        <label class="modal-button"><button type="submit">Submit</button></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section>
    <!-- Check In Out Tool Modal -->
    <input type="checkbox" id="checkInOutModal" class="modal-toggle" />
    <div class="modal">
        <div class="modal-inner-lg">
            <label for="checkInOutModal" class="modal-close-btn">✕</label>
            <form action="/tool/checkTools" method="POST">
                <div class="modal-table">
                    <div class="title-bar">
                        <h3 class="title-text">Check Tools In or Out</h3>
                    </div>
                    <input id="searchTerm" name="searchTerm" type="text" placeholder="Search Value"
                        class="input input-bordered" />
                    <input id="searchTerm" name="searchTerm" type="text" placeholder="Search Value"
                        class="input input-bordered" />
                    <input id="searchTerm" name="searchTerm" type="text" placeholder="Search Value"
                        class="input input-bordered" />
                    <input id="searchTerm" name="searchTerm" type="text" placeholder="Search Value"
                        class="input input-bordered" />
                    <input id="searchTerm" name="searchTerm" type="text" placeholder="Search Value"
                        class="input input-bordered" />
                    <input id="searchTerm" name="searchTerm" type="text" placeholder="Search Value"
                        class="input input-bordered" />
                    <div class="modal-button-row">
                        <label class="modal-button" for="checkInOutModal">Cancel</label>
                        <label class="modal-button"><button type="submit">Submit</button></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<section>
    <input type="checkbox" id="searchToolModal" class="modal-toggle" />
    <div class="modal">
        <div class="modal-inner-lg">
            <label for="searchToolModal" class="modal-close-btn">✕</label>
            <form action="/tool/search" method="POST">
                <div class="modal-table">
                    <div class="title-bar">
                        <h3 class="title-text">Search for Tool(s)</h3>
                    </div>
                    <select id="searchBy" name="searchBy" class="select select-bordered">
                        <option>Search By: </option>
                        <option value="serialNumber">Serial Number</option>
                        <option value="partNumber">Part Number</option>
                        <option value="barcode">Barcode</option>
                        <option value="serviceAssignment">Service Assignment</option>
                        <option value="status">In/Out Status</option>
                    </select>
                    <input id="searchValue" name="searchValue" type="text" placeholder="Search Term"
                        class="input input-bordered" />
                    <div class="modal-button-row">
                        <label class="modal-button" for="searchToolModal">Cancel</label>
                        <label class="modal-button"><button type="submit">Submit</button></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>