{{!-- New User Modal --}}
<input type="checkbox" id="newUserModal" class="modal-toggle" />
<div class="modal">
    <div class="modal-inner-lg">
        <label for="newUserModal" class="modal-close-btn">✕</label>
        <form action="/user/{{user._id}}" method="POST">
            <div class="modal-table">
                <div class="title-bar">
                    <h3 class="title-text">Create A New User</h3>
                </div>
                <input placeholder="First Name" type="text" name="firstName" id="firstName"
                    class="input input-bordered">
                <input placeholder="Last Name" type="text" name="lastName" id="lastName" class="input input-bordered">
                <input placeholder="E-Mail" type="email" name="email" id="email" class="input input-bordered">
                <select class="select select-bordered" name="role">
                    <option>Role</option>
                    <option value="User">User</option>
                    <option value="Manager">Manager</option>
                    <option value="Admin">Admin</option>
                </select>
                <input placeholder="Password" type="password" name="password" id="password"
                    class="input input-bordered">
                <input placeholder="Confirm Password" type="confirm-password" name="confirm-password"
                    id="confirm-password" class="input input-bordered">
                <div class="modal-button-row">
                    <label class="btn btn-sm"> <button type="submit">Submit</button></label>
                </div>
            </div>
        </form>
    </div>
</div>

{{!-- END New User Modal --}}
{{!-- reset password Modal --}}
<input type="checkbox" id="resetPasswordModal" class="modal-toggle" />
<div class="modal">
    <div class="modal-inner-md">
        <label for="resetPasswordModal" class="modal-close-btn">✕</label>
        <form action="/user/resetPW/{{id}}" method="POST">
            <div class="modal-table">
                <div class="title-bar">
                    <h3 class="title-text">Reset A Password</h3>
                </div>
                <input placeholder="Password" type="password" name="password" id="password"
                    class="input input-bordered">
                <input placeholder="Confirm Password" type="confirm-password" name="confirm-password"
                    id="confirm-password" class="input input-bordered">
                <div class="modal-button-row">
                    <label class="modal-button"> <button type="submit">Submit</button></label>
                </div>
            </div>
        </form>
    </div>
</div>