<section id="features" class="relative py-8 lg:py-20 text-slate-800 dark:text-slate-100" id="features">
    <div class="absolute start-[10%] z-0">
        <div
            class="pointer-events-none aspect-square w-60 rounded-full bg-gradient-to-r from-primary/10 via-violet-500/10 to-purple-500/10 blur-3xl [transform:translate3d(0,0,0)] lg:w-[600px]">
        </div>
    </div>

    <div class="container">
        <div class="flex flex-col items-center">
            <h2 class="inline text-4xl font-semibold">Selling Points</h2>

            <p class="mt-4 text-lg sm:text-center">
                Unlock the Full Potential of Your Business with ToolKeeper's Key Features
            </p>
        </div>

        <div class="relative z-[2] mt-8 grid gap-8 lg:mt-20 lg:grid-cols-2 lg:gap-12">
            <div class="overflow-hidden rounded-lg bg-base-200 shadow-md transition-all hover:shadow-xl" data-card3d=""
                    data-card3d-perspective="1000" data-card3d-full-page-listening="false">
                <img alt="saas img" class="overflow-hidden rounded-ss-lg"
                    src="/img/root/batchCreationExample.png" />
            </div>

            <div class="lg:mt-8">
                <div class="badge badge-primary">Contractors</div>
                <div class="badge badge-primary">Large-Team</div>
                <h3 class="mt-2 text-3xl font-semibold">Batch Tool Creation</h3>
                <p class="mt-2 text-base">
                    Simplify the data-entry process using auto-incrementing fields! No need to type in 20 serial numbers,
                    type in one and we'll do the rest.
                </p>

                <ul class="mt-4 list-inside list-disc text-base">
                    <li>Duplicate Tool Detection</li>
                    <li>Optional Auto-Incrementing</li>
                    <li>Intuitive User Interface</li>
                    <li>Global Fields For Each Batch</li>
                </ul>
            </div>
        </div>

        <div class="mt-8 grid gap-8 lg:mt-20 lg:grid-cols-2 lg:gap-12">
            <div>
                <div class="badge badge-primary">Reporting</div>
                <h3 class="mt-2 text-3xl font-semibold">Printer-Friendly Report</h3>
                <p class="mt-2 text-base">
                    Any time you have a list of tools, regardless of how many are in it,
                    you can easily generate a printer-friendly report of that list that's designed for taking into the field.
                    Included are unique identifiers, as well as barcodes for easy checking-in and checking-out.
                </p>

                <ul class="mt-4 list-inside list-disc text-base">
                    <li>Automatically Sorts and Page Breaks</li>
                    <li>Includes Barcodes for each item</li>
                    <li>Generate from any list of tools you find</li>
                    <li>Custom reports available upon request</li>
                </ul>
            </div>

            <div class="order-first lg:order-last">
                <div class="overflow-hidden rounded-lg bg-base-200 shadow-md transition-all hover:shadow-xl" data-card3d=""
                    data-card3d-perspective="1000" data-card3d-full-page-listening="false">
                    <img alt="saas img" class="overflow-hidden rounded-ss-lg"
                        src="/img/root/printerFriendlyReport.png" />
                </div>
            </div>
        </div>

        <div class="mt-8 grid gap-8 lg:mt-20 lg:grid-cols-2 lg:gap-12">
            <div class="overflow-hidden rounded-lg bg-base-200 shadow-md transition-all hover:shadow-xl" data-card3d=""
                    data-card3d-perspective="1000" data-card3d-full-page-listening="false">
                <img alt="saas img" class="overflow-hidden bg-inherit rounded-ss-lg"
                    src="/img/root/mobileFirst.png" />
            </div>

            <div class="lg:mt-8">
                <div class="badge badge-primary">Workflows</div>
                <h3 class="mt-2 text-3xl font-semibold">Mobile First</h3>
                <p class="mt-2 text-base">
                    Your tools might live at your shop, but they're used in the field. Why chain your inventory system
                    to a desk when the tools aren't?  Toolkeeper is mobile-friendly and available via the browser on your phone,
                    tablet, or other web-capable device. Yes, you can even view it on a smart-fridge. Why? Because we can!
                </p>

                <ul class="mt-4 list-inside list-disc text-base">
                    <li>iOS or Android Compatible</li>
                    <li>On-The-Go Updates</li>
                    <li>No additional hardware required</li>
                    <li>Print Friendly Reporting here too!</li>
                </ul>
            </div>
        </div>
    </div>
</section>