{{#if user}}
<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#">
      <ul class="right hide-on-med-and-down">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/checkIn">Check-Out</a></li>
        <li><a href="/checkIn">Check-In</a></li>
        <li><select>
            <option value="" disabled selected>Search By</option>
            <option value="1"><a href="/searchByBarcode">Barcode</a></option>
            <option value="2"><a href="/searchByBarcode">Serial Number</a></option>
            <option value="3"><a href="/searchByBarcode">Service Assignment</a></option>
          </select></li>
        <li><a href="/logout"></a></li>
      </ul>
  </div>
</nav>
{{else}}
<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#">
      <ul class="right hide-on-med-and-down">
        <li><a href="/features">Features</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/openSource">Open-Source</a></li>
        <li><a href="/Login"></a></li>
      </ul>
  </div>
</nav>
{{/if}}