<!DOCTYPE html>
<html lang="en" data-theme="{{user.preferences.theme}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="ToolKeeper by ADO Software">
  <meta name="author" content="ADO Software">
  <link rel="icon" href="/img/favicon.ico">
  <link rel="canonical" href="https://toolkeeper.site">
  <meta name="namespace" content="user">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/introjs.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/intro/introjs-flattener.css" />
  <link href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <title>ToolKeeper by ADO Software</title>
</head>


<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/intro.min.js" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>

  {{> _header}}
  {{> _impersonateBanner}}
  {{#if error}}
    {{> _error}}
  {{/if}}
  {{> onboarding/_helpFloater}}
  {{{body}}}
  {{> _developer}}
  {{> _footer}}
  {{> _modals}}

  <script src="/js/util.js" type="module" defer></script>
  <script src="/js/toolkeeper.js" type="module"></script>
</body>

</html>