<!DOCTYPE html>
<html lang="en" data-theme="{{user.preferences.theme}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="ToolKeeper In Design">
  <meta name="author" content="Dave Luhman">
  <link rel="icon" href="../img/favicon.ico">
  <link rel="canonical" href="https://toolkeeper.dev.ado.software">
  <meta name="namespace" content="user">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="/css/style.css" rel="stylesheet">
  <title>ToolKeeper by ADO Software</title>
</head>

<body>
  {{> _header}}
  {{#if error}}
  {{> _error}}
  {{/if}}
  {{{body}}}
  {{> _footer}}
  {{> _toolModals}}

</body>

</html>