<!-- component -->
<div id="login-wrapper">
    <div id="login-container">
        <img src="\img\toolKeeperLogo-light-full.png" id="tk-logo" />
        <div class="login-form-wrapper">
            <div class="px-5 py-7">
                <form action="/forgotPassword/{{token}}" method="POST">
                    <label for="password" class="login-label">
                        Password
                    </label>
                    <input
                        type="password"
                        name="password"
                        id="forgotPassword_password"
                        class="login-input"
                        required />
                    <label for="confirmPassword" class="login-label">
                        Confirm Password
                    </label>
                    <input
                        type="password"
                        name="confirmPassword"
                        id="forgotPassword_confirmPassword"
                        class="login-input"
                        required />
                    <button type="submit" id="login_submit">
                        <span class="inline-block mr-2">
                            Submit
                        </span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            class="inline-block w-4 h-4">
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="items-center shadow w-100 card">
                <p class="text-red-700">
                    {{message}}
                    {{messages.error}}
                </p>
            </div>
        </div>
    </div>
