<div class="login-form-wrapper"><div id='display-when-logged-out'>
    <p>
        You are not logged in
    </p>
    <button type="submit" id='signup'>
        Sign Up
    </button>
    <button type="submit" id='login'>
        Login
    </button>
</div>
<div id='display-when-logged-in'>
    <p>
        You are logged in
        <span id='email'></span>
    </p>
    <button type="submit" id='account'>
        Account
    </button>
    <button type="submit" id='logout'>
        Logout
    </button>
</div>
</div>
<script>
const authClient = PropelAuth.createClient({authUrl: "https://6362972312.propelauthtest.com", enableBackgroundTokenRefresh: true});
    // Hook up buttons to redirect to signup, login, etc
document.getElementById("signup").onclick = authClient.redirectToSignupPage;
document.getElementById("login").onclick = authClient.redirectToLoginPage;
document.getElementById("account").onclick = authClient.redirectToAccountPage;
document.getElementById("logout").onclick = authClient.logout;

// When the logged in status changes, display one of the divs
authClient.addLoggedInChangeObserver((isLoggedIn) => {
    if (isLoggedIn) {
        document.getElementById("display-when-logged-in").style.display = "revert";
        document.getElementById("display-when-logged-out").style.display = "none";

        // Get authentication info and set email to it
        authClient.getAuthenticationInfoOrNull()
            .then(authInfo => {
                document.getElementById("email").innerText = authInfo?.user?.email;
            });
    } else {
        document.getElementById("display-when-logged-in").style.display = "none";
        document.getElementById("display-when-logged-out").style.display = "revert";
    }
});
</script>