<!-- component -->
<div class="login-wrapper">
  <div class="login-container">
    <img src="\img\toolKeeperLogo-light-full.png" id="tk-logo" />
    <div class="login-form-wrapper">
      <div class="px-5 py-7">
        <form action="/login" method="POST">
          <label for="email" class="login-label">
            E-mail
          </label>
          <input
            type="text"
            name="email"
            id="login_email"
            class="login-input"
            autocomplete="email"
            required
          />
          <label class="login-label">
            Password
          </label>
          <input
            type="password"
            name="password"
            id="login_password"
            class="login-input"
            required
          />
          <button type="submit" id="login_submit">
            <span class="inline-block mr-2">
              Login
            </span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="inline-block w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              ></path>
            </svg>
          </button>
        </form>
      </div>
      <div class="items-center shadow w-100 card">
        <p class="text-red-700">
          {{message}}
          {{messages.error}}
        </p>
      </div>
      <div class="login-form-footer">
        <button class="forgot-password">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="inline-block w-4 h-4 align-text-top"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"
            ></path>
          </svg>
          <label for="forgotPasswordModal" class="inline-block ml-1">
            Forgot Password
          </>
        </button>
      </div>
    </div>
    <div class="py-5 ">
      <div class="grid grid-cols-2 gap-1">
        <div class="text-center sm:text-left whitespace-nowrap">
          <a href="/">
            <button class="forgot-password">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="inline-block w-4 h-4 align-text-top"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 19l-7-7m0 0l7-7m-7 7h18"
                ></path>
              </svg>
              <span class="inline-block ml-1">
                Back to ToolKeeper Home
              </span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{> _forgotPassword}}
