<form>
    <label for="tenant">Tenant:</label>
    <select id="tenant" name="tenant">
        {{#each tenants}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
</form>